page-homepds {
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px 130px 18px 34px;
    width: 100%;
    height: 100%;
    text-align: left;
  }
   .card-md h2{
    color: #123879 !important;
  }
  .item-md{
    color: #123879;
    border-radius: 10px;
  }

  .card-md{
    padding: 3%;
    border-radius: 30px;
  }

  .menu{
    color:white;
  }
  .logo{
    margin-top: 10%;
    align-items: center;
  }
  img{
    width: 80%;
    position: relative;

  }
  .card-md h2{
    color: black;
  }
  .card-md h4{
    color:#123879;
  }
  .card-header-md{
    font-size: 2.6rem;
    color: #000000;
    text-align: center;
  }
  .minhaclassificacao{
    width: 100%;
  }

  .logo_keroajuda{
    padding: 30px;
  }


  .slide-zoom {
    height: 80%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 50%;
    margin: 18px 0;
  }




}
