<ion-header>

  <ion-navbar>
    <button class="menu" ion-button icon-only menuToggle>
      <ion-icon name="more"></ion-icon>
    </button>

    <ion-title >
        <img src="../../assets/imgs/logo_head.png" alt="">
    </ion-title>
  </ion-navbar>


</ion-header>
<ion-content padding>

    <ion-slides pager class="slides">
            <ion-slide *ngFor="let slide of slides">
                    <img [src]="slide.image" class="slide-image"/>
                    <h2 class="slide-title" [innerHTML]="slide.title"></h2>
                    <p [innerHTML]="slide.description"></p>
            </ion-slide>
            <ion-slide>
                <div *ngFor="let estrelas of dadosusuario">
                    <img src="../../assets/imgs/keroajuda/icons8-gold-medal-96.png" class="slide-image"/>
                    <h2 class="slide-title">Minha qualificação por serviços realizados.</h2>
                    <br>
                    <div>
                        <h3><ion-icon name="star"></ion-icon> = {{estrelas.estrelas.otimo}}</h3>
                        <h3><ion-icon name="star-half"></ion-icon> = {{estrelas.estrelas.bom}}</h3>
                        <h3><ion-icon name="star-outline"></ion-icon> = {{estrelas.estrelas.ruim}}</h3>

                    </div>

                </div>

            </ion-slide>

    </ion-slides>
</ion-content>
