page-termosepolitica {
    .card_termos{
        padding: 5px;
    }
    .paragrafo{
        margin-left: 10px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
    .topicos{
        margin-left: 15px;
    }

}
