page-detalhepds {
  .content-md {
    color: #000;
    background-color: #dcdcdc;
}

  .arrowreturn{
    color:#45597c;
    margin-bottom: 15px;
  }
  .bar-button-default-md{
    color: white;
  }
  .card-md h2{
    color: black;
    font-size: 20px;
  }
  .card-md h4{
    color:#123879;
  }
  .card-header-md{
    font-size: 2.6rem;
    color: #000000;
    text-align: center;
  }


  .card-md{
    border-radius: 20px;
    background: #ffffffc7;
  }
  img{
    width: 100%;
   
  }
  .solicitar_servico_classificacao{
    text-align: center;
    padding: 4%;

  }
  .solicitar_servico_classificacao h2{
      color:#123879;
      font-size: 20px;
  }
  .funcao_text{
    color: white !important;
    margin-left: 5%;
  }


  .button-md{
    border-radius: 30px;
    background-color: #00e676;
  }

  .funcao{
    background-color: #45597c;
    border-radius: 12px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
  }
  .divisor{
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 1%;
    background-color: #45597c;
    border-radius: 25px;
  }
  .card_bg{
    background-image: url('../../../assets/imgs/bg_creditos.png');
  }
  
}
