page-detalhepds {
  .arrowreturn{
    color:#123879;
    margin-bottom: 15px;
  }
  .bar-button-default-md{
    color: white;
  }
  .card-md h2{
    color: black;
    font-size: 20px;
  }
  .card-md h4{
    color:#123879;
  }
  .card-header-md{
    font-size: 2.6rem;
    color: #000000;
    text-align: center;
  }
  
  
  .card-md{
    border-radius: 20px;
  }
  img{
    width: 100%;
  }
  .solicitar_servico_classificacao{
    text-align: center;
    padding: 4%;

  }
  .solicitar_servico_classificacao h2{
      color:#123879;
      font-size: 20px;
  }
  
  
  .button-md{
    border-radius: 30px;
    background-color: #00e676;
  }
}