page-servico {
  .item-inner{
    color:#313a7f;
  }
  .card-header-md{
    color:#313a7f;
  }
  .item-md {
    color: #2d3783;
  }
  
  .menu{
    color:white;
  }
  img{
    width: 40%;
    position: relative;
    margin-left: -20px;
    
  }
  .card_button_servicos{
    margin-bottom: 8%;
    border-radius: 30px;
    box-shadow: 5px 5px 12px 0px #909090;
  }
  .item-block{
   //conteudo interno do botão
  }
  // .background_servicos{
  //   background-color: #fbc01a;
  // }
  
  

}
