
<ion-header>
<ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Selecione o Serviço</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background_servicos">

      <ion-card class="card_button_servicos" *ngFor="let v of botoes">
          <button ion-item full (click)="irParaPagDetalheServico($nome = v.nome_servico)">
              <ion-icon [name]="v.icone" item-end></ion-icon>
              {{v.nome_servico}}
            </button>
      </ion-card>
     <ion-card  class="card_caixa">
        <ion-slides pager class="slides_card">
            <ion-slide *ngFor="let slide of slides">
              <p [innerHTML]="slide.description"></p>
            </ion-slide>
        </ion-slides>
     </ion-card>
     
 
      

</ion-content>

