page-servico {

  background-image: url('../../assets/imgs/logo_solta.png');
  background-size: 100%;
  background-repeat: no-repeat;
  
  .item-inner{
    color:#123879;
  }
  .card-header-md{
    color:#123879;
  }
  .item-md {
    color: #123879;
  }
  
  .menu{
    color:white;
  }
  img{
    width: 40%;
    position: relative;
    margin-left: -20px;
    
  }
  .card_button_servicos{
    margin-bottom: 8%;
    border-radius: 30px;
    box-shadow: 5px 5px 12px 0px #909090;
  }
  .item-block{
   //conteudo interno do botão
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 1.7rem;
  }

  .slides_card p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
  }
  .slides_card h3 {
    font-size: 18px;
    margin-top: 10px !important;
    color: black;
  }
  .slides_card {
 
    
  }
  .card_caixa{
    border-radius: 20px;
  }
  
 
  

}
