page-servico {
  .item-inner{
    color:#313a7f;
  }
  .card-header-md{
    color:#313a7f;
  }
  .item-md {
    color: #2d3783;
  }
  .item-block{
    margin-top: 15px;
    border-radius: 15px;
  }



}
