page-servico {
  .item-inner{
    color:#313a7f;
  }
  .card-header-md{
    color:#313a7f;
  }
  .item-md {
    color: #2d3783;
  }
  .item-block{
    margin-top: 15px;
    border-radius: 15px;
  }

  .menu{
    color:white;
  }
  img{
    width: 40%;
    position: relative;
    margin-left: -20px;
    
  }
  .card_button_servicos{
    margin-bottom: 8%;
    border-radius: 30px;
  }
  .button_servicos{
    border-radius: 30px;
  }
  .button_servicos span.button-inner{
    justify-content: left !important;
  }
  

}
