page-home {
  .card-background-page {


    ion-card {
      position: relative;
      text-align: center;
      margin-top: 20%;

      border-radius: 20px;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
    button{
      margin-top: 5%;
      border-radius: 20px;
    }
    .button-inner{
      color: #fbc01a;
    }
    img{
      margin-top: 35px;
      margin-bottom: 35px;
    }
    .content-md{
      color: #303975;
    }
    .bt2{
      background-color: #2d860a;
    }
  }


}
