page-home {
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px 130px 18px 34px;
    width: 100%;
    height: 100%;
    text-align: left;
  }
   .card-md h2{
    color: #123879 !important;
  }
  .item-md{
    color: #123879;
    border-radius: 10px;
  }

  .card-md{
    padding: 3%;
    border-radius: 30px;
  }

  .menu{
    color:white;
  }
  .logo{
    margin-top: 10%;
    align-items: center;
  }
  img{
    width: 100%;
    position: relative;

  }
  .card-md h2{
    color: black;
  }
  .card-md h4{
    color:#123879;
  }
  .card-header-md{
    font-size: 2.6rem;
    color: #000000;
    text-align: center;
  }
  .minhaclassificacao{
    width: 100%;
  }

  .logo_keroajuda{
    padding: 30px;
  }


  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }
  .button_solicitar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    border-radius: 10px;
  }
  .primeiro_slide img{
    margin-top:45%;
    margin-bottom: 35%;
  }
  .fixed-content{
    background-image: url('../../assets/imgs/logo_solta.png') !important;
    background-size: 180% !important;
    background-repeat: no-repeat !important;
    opacity: .3;
  }

}
