page-home {
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .item-md{
    color: #123879;
    border-radius: 10px;
  }

  .card-md{
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 10px;
  }

  .menu{
    color:white;
  }
  .logo{
    margin-top: 10%;
    align-items: center;
  }
  img{
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
  }
}
