 .toolbar-title-md{
  color:  #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.toolbar-background {
  background-color: #45597c;
}
// .content-md{
//   background-color:  #ffffffd7;
// }
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  color: #ffffff;
}
.item-md{
  background-color:  #ffffffd7;
}
.button-md{
  text-transform: none;
}

