 .toolbar-title-md{
  color:  #ffffff;
}
.toolbar-background {
  background-color: #123879;
}
.content-md{
  background-color:  #ffffffd7;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  color: #ffffff;
}
.item-md{
  background-color:  #ffffffd7;
}
.button-md{
  text-transform: none;
}
