 .toolbar-title-md{
  color:  #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.toolbar-background {
  background-color: #45597c;
}
// .content-md{
//   background-color:  #ffffffd7;
// }
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  color: #ffffff;
}
.item-md{
  background-color:  #ffffffd7;
}
.button-md{
  text-transform: none;
}
.toastError {
  .toast-wrapper {
    background: rgb(121, 0, 0);
    opacity: 0.8;
    border-radius: 5px;
    text-align: center;
  }
}
.toastOK {
  .toast-wrapper {
    background: rgb(40, 126, 0);
    opacity: 0.8;
    border-radius: 5px;
    text-align: center;
  }
}
.confirmacao_conta{
  color: rgb(0, 0, 0) !important;
  background-image: url('../../assets/imgs/logo_solta.png');
  background-color: white;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  .alert-wrapper{
    background-color: white;
  }
}


