 .toolbar-title-md{
  color:  #ffffff;
}
.toolbar-background {
  background-color:#123879;
}
.content-md{
  background-color:  #1f7496d7;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  color:#123879;
}
.item-md{
  background-color:  #1f7496d7;
  color: white;
}
