page-resetarsenha {
  .form_error{
    color: red;
    text-align: left;
    font-size: 12px;
  }
  .aviso{
    text-align: center;
    margin-bottom: 5%;
    padding: 5%;
  }
  .logo{
    margin-top: 20%;
    padding: 5%;
    margin-bottom: 10%;
  }
}
