page-listapds {
  .content-md {
    color: #000;
    background-color: #dcdcdc;
}
.item-md {
  background-color: #ffffffba;
  border-radius: 10px;
}
    .searchbar{
        border-radius: 5px;
    }
}
