<ion-header>

  <ion-navbar>
    <ion-title>Prestadores de Serviços</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngFor="let pds of pds_dados" >
      <div *ngIf="pds.funcao === servico" >
          <ion-item (click)="detalharPds(pds)">
            <ion-avatar item-start>
              <img [src]="pds.img">
            </ion-avatar>
            <h2>{{pds.nome}}</h2>
            <h3>{{pds.funcao}}</h3>
            <h3>{{pds.bairro}} - {{pds.cidade}}</h3>
            <h4>Ótimo <ion-icon name="star"></ion-icon> = {{pds.estrelas.otimo}} | Bom <ion-icon name="star-half"></ion-icon> = {{pds.estrelas.bom}} | Ruim <ion-icon name="star-outline"></ion-icon> = {{pds.estrelas.ruim}}</h4>



          </ion-item>
      </div>
    </ion-list>
</ion-content>
