page-cadastrousuario {
  ion-icon{
    color:#123879;
    margin-bottom: 15px;
  }
  .label_upload{
    text-align: center;
  }
  ion-icon{
    color:#123879;
    margin-bottom: 15px;
  }
  .card-md{
    border-radius: 10px;
  }
  .form_error{
    color: red; 
    text-align: left;
    font-size: 12px;
  }
  

}
