page-editardados {
  .form_error{
    color: red;
    text-align: left;
    font-size: 12px;
  }
  .informativo{
    color: red;

  }
  .card_editar{
    border-radius: 20px;

  }
  .card_img{
    width: 50%;
    align-items: center;
    margin-left: 25%;

  }
  .link_trocar_img{
    text-align: center;
  }
  .btn_confirm{
    background-color: rgb(0, 94, 0);
  }

}
